.navbar{
    min-height: 60px;
    padding: 0px;
}

.navbar-brand{
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #007bff;
}


.search-bar{
    padding-top: 12px;
    padding-right: 24px;
}

.navbar-right-top .nav-item{
    border-right: 1px solid #d2d2e4;
}

.form-control{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}

.nav-link{
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
}

.nav-link i{
    color: gray;
    font-size: 20px;
}

.navbar-right-top .nav-item .nav-link{
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #82849f;
}

.user-avatar{
    height: 32px;
    width: 32px;
}

.navbar-right-top .nav-item:last-child {
    border: none;
}

img{
    vertical-align: middle;
    border-style: none;
}


.sidebar-color{
    background-color: #0e0c28;;
}


.left-sidebar .navbar {
    position: relative;
    padding: 14px;
}

.left-sidebar{
    position: fixed;
    width: 264px;
    height: 100%;
    top: 60px;
    overflow: auto;
}

.flex-column{
    flex-direction: column;
}

.left-sidebar .navbar-nav{
    width: 100%;
}

.left-sidebar .navbar-nav .nav-link.active {
    background-color: #242849;
    color: #fff;
    border-radius: 2px;
}

.sidebar-color .nav-divider{
    color: #a4aadb;
    font-size: 12px;
    letter-spacing: 1px;
}

.nav-divider{
    padding: 10px 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.left-sidebar .nav-link{
    font-size: 14px;
    padding: 12px;
    margin-bottom: 2px;
    color: #71789e;
    transition: 0.3s;
}

.left-sidebar .nav-link i{
    font-size: 14px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    color: #7a80b4;
}

.left-sidebar .navbar-nav .nav-link {
    color: #7a80b4;
}

.left-sidebar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #242849;
    border-radius: 2px;
}

.left-sidebar .nav-link[data-toggle="collapse"] {
    position: relative;
    display: flex;
    align-items: center;
}